@import "~bootstrap/scss/bootstrap";
body {
    background-color: black;
    color: white;
}

.scb-contenitore {
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // gap: 25px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    color: white;
}
